body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 14px;
}

    /* .card {
    width: 200%;
        
    } */

.modal {
    z-index: 1050;
}
.modal-backdrop {
    z-index: 1040;
}
.navbar {
    z-index: 1000;
}
